%h1 Listing lenses

%table.table
  - @lenses.each do |lens|
    %tr
      %td.ncol= lens.name
      %td.acol
        %span.btn.btn-xs.btn-default
          %span.glyphicon.glyphicon-sort
        = link_to 'Edit', edit_len_path(lens), class: 'btn btn-xs btn-primary'
        = link_to 'Destroy', lens, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

= link_to 'New Lens', new_len_path, class: 'btn btn-success'