%h1 Listing cams

%table.table
  - @cams.each do |cam|
    %tr
      %td.ncol= cam.name
      %td.acol
        %span.btn.btn-xs.btn-default
          %span.glyphicon.glyphicon-sort
        = link_to 'Edit', edit_cam_path(cam), class: 'btn btn-xs btn-primary'
        = link_to 'Destroy', cam, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

= link_to 'New Cam', new_cam_path, class: 'btn btn-success'
