!!!
%html
  %head
    %title Karén | Photography
    = stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => false
    =# javascript_include_tag 'frontend', 'data-turbolinks-track' => false
    = requirejs_include_tag 'frontend'
    = csrf_meta_tags
    %meta{name:"viewport", content:"user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"}
  %body
    = yield

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25825595 = new Ya.Metrika({id:25825595, webvisor:true, clickmap:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25825595" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->